.search-button{
min-width: 150px;
height: var(--main-size);
border-radius: var(--radius);
user-select: none;
color: var(--contrast-color);
background-color: var(--text-color);
transition: var(--transition);
cursor: pointer;
border: none;
font-size: var(--element-text-size);
font-weight: bolder;
text-align: left;
padding: var(--element-padding) calc(var(--element-padding)*2);
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: space-between;
}
.search-button:hover{
    background-color: var(--contrast-color);
    color: var(--text-color);
}
.scope{
    width :auto;
    height: 1.5rem;
}
.color{
    fill: var(--main--bg-color);
    transition: var(--transition);
}
.search-button:hover>.scope>.color{
   fill: var(--text-color)
}