.header{
    width: 100%;
    height: var(--header-height);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;

}
.navigation{
    max-width: var(--max-width);
    padding: var(--main-padding);
    margin: 0 auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.title{
    font-size: var(--main-size);
    color: var(--text-color);
    padding : 0 var(--main-padding);
    text-transform: capitalize;
    user-select: none;
}


